@import url("http://fonts.cdnfonts.com/css/char-bb");

.center-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@keyframes example {
    0% {
        background-color: rgba(255, 0, 0, 0.259);
    }
    100% {
        background-color: rgba(255, 255, 0, 0.204);
    }
}

body {
    font-family: "Char BB", sans-serif;
    font-size: larger;
    background-color: red;
    animation: example 2s infinite both;
}
